/*--- Global Reset ---*/
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*--- Navbar ---*/
.nav-tabs {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px; 
  background: #393939;
  border-radius: 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
.tab {
  flex: 1;
  text-align: left;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 50px;
  transition: 0.3s;
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.tab.active {
  color: #fff;
  background: #4D4D4D;
}
.tab::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #transparent;
  display: inline-block;
  transition: background 0.3s ease;
  margin: 0 15px 0 20px;
}
.tab.active::before {
  border: 1px solid #fc5033;
  background: #fc5033;
}

/*--- Sections ---*/
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#home, #increased-revenue,
#brand-coherence, #user-retention,
#customer-lifetime-value { 
  background: #292929; 
}

/*--- Section 1 Content ---*/
.content-one {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 600px;
}
.content-one h3 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  color: #fff;
}
.content-one h3 span {
  text-decoration: underline;
  text-decoration-color: #fc5033;
  text-decoration-thickness: 2px;
}
.content-one p {
  font-size: 1.1rem;
  color: #A2A2A2;
  margin: 15px 0 30px;
  max-width: 420px;
}
.btn-group {
  display: flex;
  gap: 15px;
}
.btn-group a {
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
}
.btn-group .btn-color {
  background: #fc5033;
}
.btn-group .btn-simple {
  background: #393939;
}
.btn-group .btn-color:hover, .btn-group .btn-simple:hover {
  background: #000;
  color: #fff;
}
/*--- Section 2 and 4 Content ---*/
.content-twoFour {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  max-width: 600px;
}
.content-twoFour h3 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  color: #fff;
}
.content-twoFour h3 span {
  text-decoration: underline;
  text-decoration-color: #fc5033;
  text-decoration-thickness: 2px;
}
.content-twoFour p {
  font-size: 1.75rem;
  font-weight: 600;
  color: #A2A2A2;
  margin-top: 5px;
  max-width: 500px;
}
/*--- Section 3 and 5 Content ---*/
.content-threeFive {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 600px;
}
.content-threeFive h3 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  color: #fff;
}
.content-threeFive h3 span {
  text-decoration: underline;
  text-decoration-color: #fc5033;
  text-decoration-thickness: 2px;
}
.content-threeFive p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #A2A2A2;
  margin-top: 5px;
  max-width: 450px;
}

/*--- Section 2 Image Data ---*/
.data-two {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translateY(-50%);
  max-width: 600px;
  z-index: 999;
}
.data-two img {
  width: 75%;
  height: 75%;
  object-fit: contain;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.18);
}
/*--- Section 4 Tablet Preview and Image Data ---*/
.tablet-frame {
  position: absolute;
  top: 55%;
  left: 0%;
  transform: translateY(-50%);
  width: 400px;
  max-width: 600px;
  padding: 20px 20px 20px 0;
  background: #111;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 20px 40px rgba(0,0,0,0.22);
  z-index: 999;
}
.tablet-screen {
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 0 12px 12px 0;
  overflow: hidden;
}
.tablet-screen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0 12px 12px 0;
  display: block;
}
/*--- Section 5 Image Data ---*/
.data-five {
  position: absolute;
  top: 55%;
  right: 15%;
  transform: translateY(-50%);
  max-width: 600px;
  z-index: 999;
}
.data-five img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

/*--- Mobile Phone ---*/
.device-preview {
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  width: 225px;
  height: 80vh;
  border-radius: 25px;
  border: 10px solid #111;
  background: #000;
  overflow: hidden;
  opacity: 0;
  z-index: 99;
}
.device-screen {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.device-screen img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.swiper {
  width: 100%;
  height: 100%;
}
/*--- Ghost Phone ---*/
.phone-ghost {
  position: fixed;
  top: 55%;
  left: 10vw;
  transform: translateY(-50%);
  width: 225px;
  height: 80vh;
  border-radius: 25px;
  border: 10px solid #111;
  background: #000;
  overflow: hidden;
  opacity: 0;
  z-index: 9;
}
.phone-ghost img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}